{% extends template %}

{% block title%}
    {{ parent() }} &HorizontalLine; Write Article
{% endblock %}

{% block content %}
<section>
    <h1>Create New Article</h1>
    <form method="post" data-pjax enctype="multipart/form-data" id="form">
        <fieldset>
            <legend>Write your new article and click post when done.</legend>
            <label for="title">Title</label><br />
            <input type="text" name="title" id="title" size="50"/>
            <br />
            <label for="image">Image</label>
            <br />
            <input type="file" name="image" id="image" />
            <br /><br />
            <textarea name="content" id="content" cols="50" rows="10"></textarea>
            <br />
            <input type="submit" value="Post" />
        </fieldset>
    </form>
</section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
<script type="text/javascript">
    CKEDITOR.replace('content');
</script>
{% endblock %}