{% extends template %}

{% block content %}
<nav>
    <h1>Recent Articles</h1>
    <ul>
        {% for article in articles %}
            <li>
                <time pubdate datetime="{{ article.created.format('c') }}">
                    ({{article.created.format('d/m/Y') }})
                </time>
                <a href="{{ urlFor('article', {'slug': article.slug}) }}" >
                    {{ article.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}